/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Unkempt:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Lora", cursive;
    --tertiary-font: "Unkempt", cursive;
    --primary-color: #14a4b1; /* blue */
    --secondary-color: #a1c1c8; /* light blue */
    --highlight-color: #c42365; /* dark pink */
    --highlight-color-light: #e898c0; /*light pink */
}

/* Global styles */

body {
    font-family: var(--primary-font);

}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    /* text-transform: uppercase; */
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
} 

/* Navbar */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--tertiary-font);
}

#navbar-logo {
    width: 3px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
} 

/* Events Overview */
#events-overview .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#events-overview .card {
    margin-bottom: 1.5rem;
}

/* grid visualization CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */


/* Media queries */

/* Medium devices (tablets, 768px and up) with dimensions from Bootstrap */
@media screen and (min-width: 768px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 200px;
    }
}

/* Larger devices (laptops, 992px and up) with dimensions from Bootstrap */
@media screen and (min-width: 992px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: auto;
    }
}

/* XL devices (desktops, 1200px and up) with dimensions from Bootstrap */
@media screen and (min-width: 1200px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 220px;
    }
}

/* XXL devices (larger desktops and screens, 1400px and up) with dimensions from Bootstrap */
@media screen and (min-width: 1400px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 195px;
    }
}
