/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Unkempt:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Lora", cursive;
    --tertiary-font: "Unkempt", cursive;
    --primary-color: #14a4b1; /* blue */
    --secondary-color: #a1c1c8; /* light blue */
    --highlight-color: #c42365; /* dark pink */
    --highlight-color-light: #e898c0; /*light pink */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 76px; /* pushes the top beneath the navbar */ 
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
} 

/* Buttons */
.custom-button {
    border: 1px solid var(--highlight-color-light);
    background-color: var(--highlight-color-light);
    color: white;
    font-weight: bold;
}

.custom-button:hover {
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
    font-weight: bold;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
    font-family: var(--tertiary-font); 
}

#navbar-logo {
    width: 3px;
}

#navbar .nav-link {
  color: #ffffff;
}

#navbar .nav-link:hover {
  color: #ffffff;
  font-weight: bold;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
} 

/* Events Overview */
#events-overview .card-subtitle {
    font-weight: bold;
    color: var(--highlight-color-light);
    background-color: transparent;
}

#events-overview .card {
    margin-bottom: 1.5rem;
}

/* Events cards */
#upcoming-events .card, 
#past-events .card {
    border: none;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
}

#photos {
    line-height: 0;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
}

/* Booking table */
#booking .table-dark * {
    background-color: var(--highlight-color-light);
}

/* Footer / contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 2rem;    
}

#contact h2 {
    color: var(--highlight-color);
    margin-top: 8px;
}

#contact .sub-heading-color {
    color: white;
}

#contact #contact-hours {
    font-style: italic;
}

#contact i {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-right: 15px;
}

#contact .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;                  
    -webkit-box-pack: center;                  
        -ms-flex-pack: center;                  
            justify-content: center;                   
}

#contact .social-links i {
    color: white;
    font-size: 2.1rem;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    margin-top: 8px;
}

#contact .social-links i:hover {
    color: var(--highlight-color);
}



/* Media queries */

/* Medium devices (tablets, 768px and up) with dimensions from Bootstrap */
@media screen and (min-width: 768px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 200px;
    }

    /* Gallery */
    #photos {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }
}

/* Larger devices (laptops, 992px and up) with dimensions from Bootstrap */
@media screen and (min-width: 992px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: auto;
    }

    /* Gallery */
    #photos {
        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
    }
}

/* XL devices (desktops, 1200px and up) with dimensions from Bootstrap */
@media screen and (min-width: 1200px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 220px;
    }
}

/* XXL devices (larger desktops and screens, 1400px and up) with dimensions from Bootstrap */
@media screen and (min-width: 1400px) {
    /* Make cards the same height */
    #events-overview .card-body {
        min-height: 195px;
    }
}